body{

    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #4e4e5a;

}label{

    font-weight:bold;

}@media(min-width:120px){

    .container{

        width:1170px;
        margin:0 auto;

    }

    .col-id{

        width: 80px;
        text-align: center;

    }.col-id header{

    width: 80px;
    
}

.col-acoes-id{

    width: 80px;
 

}.col-acoes{

width: 80px;
text-align: center;
}

}